{% extends "admin/delete_confirmation.html" %}
{% load static %}

{% block title %}Delete Client{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> >
    <a href="{% url 'bank:client_list' %}">System User List</a> > Delete Client
</div>
{% endblock %}

{%block content %}
<h1>Are you sure?</h1>
<p>Are you sure you want to delete the client "{{ obj_client }}"? </p>
<form action="{% url 'accounts:delete_user' id %}" method="post">
    {% csrf_token %}
    <div>
        <input type="hidden" name="post" value="yes">
        <input type="submit" value="Yes, I’m sure">
        <a href="/accounts/update_user/{{ id }}" class="button cancel-link">No, take me back</a>
    </div>
</form>
{% endblock %}