{% extends "base_layout.html" %}
{% load static %}

{% block title %}System User List{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
{% endblock %}

{% block content_title %}System User List{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> > System User List
</div>
{% endblock %}

{%block content %}
<ul class="object-tools">
    <li>
        <a href="{% url 'accounts:create_user' %}" class="addlink">
            New User
        </a>
    </li>
</ul>

<div class="module filtered" id="changelist">
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div><!-- DIV needed for valid HTML -->
                <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                <input type="text" size="40" name="q" value="" id="searchbar" autofocus>
                <input type="submit" id="search_button" name="search_button" value="Search">
            </div>
        </form>
    </div>
    <form class="site-form" action="{% url 'bank:client_list' %}" method="post">
        {% csrf_token %}
        <div class="results">
            <table id="result_list">
                <thead>
                <tr>

                    <th>
                        <div class="text"><span>Username:</span></div>
                    </th>
                    <th>Last Login:</th>
                    <th>Date Joined:</th>
                </tr>
                </thead>
                {% for user in object_list %}
                <tr>
                    <td><a href="update_user/{{ user.id }}">{{ user.username }}</a></td>
                    <td>{{ user.last_login }}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
</div>
{% endblock %}