{% extends "base_layout.html" %}
{% load static %}

{% block title %}System User List{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block content_title %}System User List{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> > System User List
</div>
{% endblock %}

{%block content %}
<a href="{% url 'accounts:create_user'%}"><input type="submit" id="new_button" name="new_button" value="New"></a>

<table border="2" width="600">
    <tr>
        <th>Username:</th>
        <th>Email Address:</th>
    </tr>
    {% for user in obj_list_user %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}