{% extends "base_layout.html" %}
{% load static %}

{% block title %}Application List{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">{% endblock %}

{% block content_title %}Application List{% endblock %}

{%block content %}
<div id="content-main">
    <div class="static-data module">
        <table width="300">
            <caption>
                Static Data
            </caption>

            <tr class="model-user">
                <th scope="row"><a href="{% url 'bank:user_list' %}">System Users</a></th>
                <td><a href="{% url 'bank:user_create' %}" class="addlink">Add</a></td>
                <td><a href="{% url 'bank:user_list' %}" class="changelink">Edit</a></td>
            </tr>

            <tr class="model-client">
                <th scope="row"><a href="{% url 'bank:client_list' %}">Clients</a></th>
                <td><a href="{% url 'bank:client_create' %}" class="addlink">Add</a></td>
                <td><a href="{% url 'bank:client_list' %}" class="changelink">Edit</a></td>
            </tr>
        </table>
    </div>

    <div class="transactions module">
        <table width="300">
            <caption>
                Transactions
            </caption>

            <tr class="model-deposit">
                <th scope="row"><a href="{% url 'bank:deposit_trx_list' %}">Deposit</a></th>
                <td><a href="{% url 'bank:deposit_trx_create' %}" class="addlink">Create New</a></td>
            </tr>

            <tr class="model-withdrawal">
                <th scope="row"><a href="{% url 'bank:withdraw_trx_list' %}">Withdrawal</a></th>
                <td><a href="{% url 'bank:withdraw_trx_create' %}" class="addlink">Create New</a></td>
            </tr>

            <tr class="model-transfers">
                <th scope="row"><a href="{% url 'bank:transfer_trx_list' %}">Transfers</a></th>
                <td><a href="{% url 'bank:transfer_trx_create' %}" class="addlink">Create New</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
