<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application List</title>
</head>
<body>
<h1>Application List</h1>
<a href="{% url 'accounts:create_user' %}"><h2>System Users</h2></a>
<a href="{% url 'bank:client_accounts' %}"><h2>Client Accounts</h2></a>
<a href="{% url 'bank:create_deposit_trx' %}"><h2>Deposit</h2></a>
<a href="{% url 'bank:create_withdraw_trx' %}"><h2>Withdrawal</h2><a/>
<a href="{% url 'bank:create_transfer_trx' %}"><h2>Transfers</h2><a/>
<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

</body>
</html>