{% extends "object_form.html" %}
{% load static %}

{% block title %}Create Client{% endblock %}

{% block content_title %}Create Client{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> >
    <a href="{% url 'bank:client_list' %}">Client List</a> > Create Client
</div>
{% endblock %}

{% block obj_details_title %}Client{% endblock %}

{%block obj_self_url%}{% url 'bank:client_create' %}{% endblock %}

{%block obj_list_url%}{% url 'bank:client_list' %}{% endblock %}
