{% extends "bank/base/object_list.html" %}
{% load static %}

{% block title %}Client List{% endblock %}

{% block content_title %}Client List{% endblock %}

{%block table_title %}Clients{% endblock %}

{%block table_headers%}
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Account Number:</th>
    <th>Email Address:</th>
    <th>Balance:</th>
{% endblock %}
{%block table_body %}
{% for obj in object_list %}
<tr>
    <td><a href="{% url 'bank:client_update' obj.id %}">{{ obj.fname }}</a></td>
    <td>{{ obj.lname }}</td>
    <td>{{ obj.acct_num }}</td>
    <td>{{ obj.email_addr }}</td>
    <td>{{ obj.balance }}</td>
</tr>
{% endfor %}
{% endblock %}