{% extends "bank/base/object_form.html" %}
{% load static %}

{% block title %}Update Client{% endblock %}

{% block content_title %}Update Client{% endblock %}

{% block obj_details_title %}Client{% endblock %}

{%block obj_self_url%}{% url 'bank:client_update' id %}{% endblock %}

{%block obj_list_url%}{% url 'bank:client_list' %}{% endblock %}

{% block delete_button %}
<a href="{% url 'bank:client_delete' id %}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
    <span class="text">Delete</span>
</a>
{% endblock %}