{% extends "base_layout.html" %}
{% load static %}

{% block title %}Client Accounts{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block content_title %}Client Accounts{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> > Client Accounts
</div>
{% endblock %}

{%block content %}
<ul>
    <a href="{% url 'bank:view_client' %}"><h2>View Client</h2></a>
    <a href="{% url 'bank:create_client' %}"><h2>Create Client</h2></a>
    <a href="{% url 'bank:edit_client' %}"><h2>Edit Client</h2></a>
    <a href="{% url 'bank:delete_client' %}"><h2>Delete Client</h2></a>
</ul>
{% endblock %}