<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Accounts</title>
</head>
<body>
<h1>Client Accounts</h1>
<a href="{% url 'bank:create_client' %}"><h2>Create Client</h2></a>
<a href="{% url 'bank:edit_client' %}"><h2>Edit Client</h2></a>
<a href="{% url 'bank:delete_client' %}"><h2>Delete Client</h2></a>

<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

</body>
</html>