{% extends "base_layout.html" %}
{% load static %}

{% block title %}Create Client{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content_title %}Create Client{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> >
    <a href="{% url 'bank:client_list' %}">Client List</a> > Create Client
</div>
{% endblock %}

{%block content %}
<form class="site-form" action="{% url 'bank:create_client'%}" method="post">
    {% csrf_token %}
    <div class="module">
        <h2 class="section">Transaction Details</h2>
    </div>
    <fieldset class="module aligned ">
        {% for item in form %}
        <div class="form-row">
            <div>
                <label class="required">{{ item.label }}</label>
                {{ item }}
            </div>
        </div>
        {% endfor %}
    </fieldset>
        <div class="submit-row">
            <input type="submit" name="save_and_add_another"  value="Save and add another">
            <input type="submit" name="confirm" value="SAVE">
        </div>
</form>
{% endblock %}