{% extends "base_layout.html" %}
{% load static %}

{% block title %}Create Client{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content_title %}Create Client{% endblock %}

{%block content %}
<form class="site-form" action="{% url 'bank:create_client'%}" method="post">
    {% csrf_token %}
    <fieldset class="module aligned ">
        {{form.as_p}}
    </fieldset>
    <input type="submit" value="Create">
</form>
{% endblock %}