{% extends "base_layout.html" %}
{% load static %}

{% block title %}Deposit Transaction{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<style>
a.back {
background: #79aec8;
padding: 10px 15px;
border: none;
border-radius: 4px;
color: #fff;
cursor: pointer;
font-size: 13px;
}

</style>
{% endblock %}

{% block content_title %}Deposit Transaction{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Transactions</a> >
    <a href="{% url 'bank:deposit_trx_list' %}">Deposit Transaction List</a> > New Deposit
</div>
{% endblock %}

{%block content %}
<div class="module">
    <h2 class="section">Transaction Details</h2>
</div>
<fieldset class="module aligned " {{ disabled }}>
    {% for item in form %}
    <div class="form-row">
        <div>
            <label class="required">{{ item.label }}</label>
            {{ item }}
        </div>
    </div>
    {% endfor %}
    <div class="submit-row">
        <a class="back" href="{% url 'bank:deposit_trx_list' %}">Back to list</a>
        <input type="submit" name="confirm_and_add_another" {{ hidden }} value="Confirm and add another">
        <input type="submit" name="confirm" {{ hidden }} value="CONFIRM">
    </div>
</fieldset>
{% endblock %}