{% extends "bank/base/object_list.html" %}
{% load static %}

{% block title %}Deposit Transaction List{% endblock %}

{% block content_title %}Deposit Transaction List{% endblock %}

{%block table_title %}Deposits{% endblock %}

{%block table_headers %}
<th>Trx ref:</div>
</th>
<th>Trx Date:</th>
<th>Client:</th>
<th>Deposit Amount:</th>
<th>Currency:</th>
{% endblock %}

{%block table_footers %}
<th>Trx ref:</div>
</th>
<th>Trx Date:</th>
<th>Client:</th>
<th>Deposit Amount:</th>
<th>Currency:</th>
{% endblock %}

{%block table_body %}
{% for deposit_trx in object_list %}
<tr>
    <td><a href="{% url 'bank:deposit_trx_view' deposit_trx.id %}">{{ deposit_trx.trx_ref }}</a></td>
    <td>{{ deposit_trx.trx_date }}</td>
    <td>{{ deposit_trx.client }}</td>
    <td>{{ deposit_trx.deposit_amt }}</td>
    <td>{{ deposit_trx.curr }}</td>
</tr>
{% endfor %}
{% endblock %}
