{% extends "base_layout.html" %}
{% load static %}

{% block title %}Deposit Transaction{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content_title %}Deposit Transaction{% endblock %}

{%block content %}
<form class="site-form" action="{% url 'bank:create_deposit_trx'%}" method="post">
    {% csrf_token %}
    <label for="client_id">Client ID:</label>
    <input type="number" name="client_id" maxlength="20" required {{ readonly }} value={{ client_id }} id="client_id">
    <input type="submit" id="search_button" name="search_button" value="Search">
    <h2>Client Information</h2>
    <fieldset class="module aligned " disabled>
        {{ client_info.as_p }}
    </fieldset>
    <h2>Deposit Transaction</h2>
    <fieldset class="module aligned ">
        {{form.as_p}}
        <input type="submit" id="deposit_button" name="deposit_button" {{ hidden }} value="Confirm">
        <input type="submit" id="calculate_button" name="calculate_button" {{ hidden }} value="Calculate">
    </fieldset>
</form>
{% endblock %}