{% extends "base_layout.html" %}
{% load static %}

{% block title %}Edit Client{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content_title %}Edit Client{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> >
    <a href="{% url 'bank:client_accounts' %}">Client Accounts</a> > Edit Client
</div>
{% endblock %}

{%block content %}
<form class="site-form" action="{% url 'bank:edit_client'%}" method="post">
    {% csrf_token %}
    <label for="client_id">Client ID:</label>
    <input type="number" name="client_id" maxlength="20" required {{ readonly }} value={{ client_id }} id="client_id">
    <input type="submit" id="search_button" name="search_button" value="Search">
    <fieldset class="module aligned ">
        {{form.as_p}}
    </fieldset>
    <input type="submit" id="save_button" name="save_button" {{ hidden }} value="Save">
</form>
{% endblock %}