{% extends "base_layout.html" %}
{% load static %}

{% block title %}Transfer Transaction List{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
{% endblock %}

{% block content_title %}Transfer Transaction List{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Transactions</a> > Transfer Transaction List
</div>
{% endblock %}

{%block content %}
<ul class="object-tools">
    <li>
        <a href="{% url 'bank:create_deposit_trx'%}" class="addlink">
            New Transfer
        </a>
    </li>
</ul>

<div class="module filtered" id="changelist">
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div><!-- DIV needed for valid HTML -->
                <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                <input type="text" size="40" name="q" value="" id="searchbar" autofocus>
                <input type="submit" id="search_button" name="search_button" value="Search">
            </div>
        </form>
    </div>

    <form class="site-form" action="{% url 'bank:view_transfer_trx'%}" method="post">
        {% csrf_token %}
        <div class="results">
            <table id="result_list">
                <thead>
                <tr>
                    <th>
                        <div class="text"><span>Trx ref:</span></div>
                    </th>
                    <th>Trx Date:</th>
                    <th>From Client:</th>
                    <th>To Client:</th>
                    <th>transfer Amount:</th>
                    <th>Currency:</th>
                </tr>
                </thead>
                {% for transfer_trx in object_list %}
                <tr>
                    <td><a href="">{{ transfer_trx.trx_ref }}</a></td>
                    <td>{{ transfer_trx.trx_date }}</td>
                    <td>{{ transfer_trx.from_client }}</td>
                    <td>{{ transfer_trx.to_client }}</td>
                    <td>{{ transfer_trx.transfer_amt }}</td>
                    <td>{{ transfer_trx.curr }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
</div>
{% endblock %}