<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transfer Transaction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<h1>Transfer Transaction</h1>

<form class="site-form" action="{% url 'bank:create_transfer_trx'%}" method="post">
    {% csrf_token %}
    <label for="from_client_id">From Client ID:</label>
    <input type="number" name="from_client_id" maxlength="20" required {{ readonly }} value={{ from_client_id }}
           id="from_client_id">
    <label for="to_client_id">To Client ID:</label>
    <input type="number" name="to_client_id" maxlength="20" required {{ readonly }} value={{ to_client_id }}
           id="to_client_id" }>
    <input type="submit" id="search_button" name="search_button" value="Search">
    <h2>Transfer From</h2>
    <fieldset disabled>
        {{ from_client_form.as_p }}
        <label for="from_client_old_bal">Current Balance:</label>
        <input type="number" name="from_client_old_bal" maxlength="20" required value={{ from_client_old_bal }}
               id="from_client_old_bal">
        <label for="from_client_new_bal">New Balance:</label>
        <input type="number" name="from_client_new_bal" maxlength="20" required value={{ from_client_new_bal }}
               id="from_client_new_bal">
    </fieldset>
    <h2>Transfer To</h2>
    <fieldset disabled>
        {{ to_client_form.as_p }}
        <label for="to_client_old_bal">Current Balance:</label>
        <input type="number" name="to_client_old_bal" maxlength="20" required value={{ to_client_old_bal }}
               id="to_client_old_bal">
        <label for="to_client_new_bal">New Balance:</label>
        <input type="number" name="to_client_new_bal" maxlength="20" required value={{ to_client_new_bal }}
               id="to_client_new_bal">
    </fieldset>
    <h2>Transfer Transaction</h2>
    <fieldset>
        {{form.as_p}}
        <input type="submit" id="confirm_button" name="confirm_button" {{ hidden }} value="Confirm">
        <input type="submit" id="calculate_button" name="calculate_button" {{ hidden }} value="Calculate">
    </fieldset>
</form>

</body>
</html>