{% extends "base_layout.html" %}
{% load static %}

{% block title %}Transfer Transaction{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content_title %}Transfer Transaction{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Transactions</a> >
    <a href="{% url 'bank:transfer_trx_list' %}">Transfer Transaction List</a> > New Transfer
</div>
{% endblock %}

{%block content %}
<form class="site-form" action="{% url 'bank:create_transfer_trx'%}" method="post">
    {% csrf_token %}
    <div class="module">
        <h2 class="section">Transaction Details</h2>
    </div>
    <div class="module">
        <fieldset class="module aligned ">
            {% for item in form %}
            <div class="form-row">
                <div>
                    <label class="required">{{ item.label }}</label>
                    {{ item }}
                </div>
            </div>
            {% endfor %}
            <div class="submit-row">
                <input type="submit" id="confirm_and_add_another" name="confirm_and_add_another"
                       value="Confirm and add another">
                <input type="submit" id="confirm" name="confirm" value="CONFIRM">
            </div>
        </fieldset>
</form>
{% endblock %}