{% extends "base_layout.html" %}
{% load static %}

{% block title %}Transfer Transaction List{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block content_title %}Transfer Transaction List{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Transactions</a> > Transfer Transaction List
</div>
{% endblock %}

{%block content %}
<a href="{% url 'bank:create_transfer_trx'%}"><input type="submit" id="new_button" name="new_button" value="New"></a>
<br><br>

<form class="site-form" action="{% url 'bank:view_transfer_trx'%}" method="post">
    {% csrf_token %}
    <label for="client_id">Client ID:</label>
    <input type="number" name="client_id" maxlength="20" required value={{ client_id }}
           id="client_id">
    <input type="submit" id="search_button" name="search_button" value="Search">
    <br><br>
    <table border="2" width="600">
        <tr>
            <th>Trx Date:</th>
            <th>Trx ref:</th>
            <th>From Client:</th>
            <th>To Client:</th>
            <th>transfer Amount:</th>
            <th>Currency:</th>
        </tr>
        {% for transfer_trx in obj_list_transfer_trx %}
        <tr>
            <td>{{ transfer_trx.trx_date }}</td>
            <td>{{ transfer_trx.trx_ref }}</td>
            <td>{{ transfer_trx.from_client }}</td>
            <td>{{ transfer_trx.to_client }}</td>
            <td>{{ transfer_trx.transfer_amt }}</td>
            <td>{{ transfer_trx.curr }}</td>
        </tr>
        {% endfor %}
    </table>

</form>
{% endblock %}