{% extends "object_form.html" %}
{% load static %}

{% block title %}Create System User{% endblock %}

{% block content_title %}Create System User{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> >
    <a href="{% url 'bank:user_list' %}">System User List</a> > Create System User
</div>
{% endblock %}

{% block obj_details_title %}User{% endblock %}

{%block obj_create_url%}{% url 'bank:user_create' %}{% endblock %}

{%block obj_list_url%}{% url 'bank:user_list' %}{% endblock %}
