{% extends "object_delete.html" %}
{% load static %}

{% block title %}Delete Client{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'bank:application_list' %}">Application List</a> >
    <a href="{% url 'bank:application_list' %}">Static Data</a> >
    <a href="{% url 'bank:client_list' %}">System User List</a> > Delete Client
</div>
{% endblock %}

{% block delete_url %}{% url 'bank:user_delete' id %}{% endblock %}
{% block update_url %}/bank/user_update/{{ id }}{% endblock %}