{% extends "bank/base/object_form.html" %}
{% load static %}

{% block title %}Create System User{% endblock %}

{% block content_title %}Create System User{% endblock %}

{% block obj_details_title %}User{% endblock %}

{%block obj_self_url%}{% url 'bank:user_update' id %}{% endblock %}

{%block obj_list_url%}{% url 'bank:user_list' %}{% endblock %}

{% block delete_button %}
<a href="{% url 'bank:user_delete' id %}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
    <span class="text">Delete</span>
</a>
{% endblock %}