{% extends "bank/base/object_list.html" %}
{% load static %}

{% block title %}Withdraw Transaction List{% endblock %}

{% block content_title %}Withdraw Transaction List{% endblock %}

{% block table_headers %}
<th>Trx ref:</th>
<th>Trx Date:</th>
<th>Client:</th>
<th>Withdraw Amount:</th>
<th>Currency:</th>
{% endblock %}

{% block table_footers %}
<th>Trx ref:</th>
<th>Trx Date:</th>
<th>Client:</th>
<th>Withdraw Amount:</th>
<th>Currency:</th>
{% endblock %}

{% block table_body %}
{% for withdraw_trx in object_list %}
<tr>
    <td><a href="{% url 'bank:withdraw_trx_view' withdraw_trx.id %}">{{ withdraw_trx.trx_ref }}</a></td>
    <td>{{ withdraw_trx.trx_date }}</td>
    <td>{{ withdraw_trx.client }}</td>
    <td>{{ withdraw_trx.withdraw_amt }}</td>
    <td>{{ withdraw_trx.curr }}</td>
</tr>
{% endfor %}
{% endblock %}