{% extends "bank/base/base_template.html" %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% block table_title %}{% endblock %}</h6>
    </div>
    <div class="card-body">
        <!-- Topbar Search -->
        <form class="navbar-search mr-auto form-inline" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button role="button" class="btn btn-primary" aria-haspopup="true" type="submit">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    {% block table_headers %}{% endblock %}
                </tr>
                </thead>
                <tfoot>
                <tr>
                    {% block table_footers %}{% endblock %}
                </tr>
                </tfoot>
                <tbody>
                {% block table_body %}{% endblock %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}