{% extends "bank/base/base_template.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-4 d-lg-block {% block img_class %}{% endblock %}"></div>
                    <div class="col-lg-8">
                        <div class="p-4">
                            <div class="text-center">
                                <form class="user" action="{% block form_action %}{% endblock %}" method="post">
                                    {% csrf_token %}
                                    <fieldset {{disabled }}>
                                        {% for item in form %}
                                        <div class="form-group text-left">
                                            <label class="required">{{ item.label }}:</label>
                                            {{ item }}
                                            <div style="color:red">{{ item.errors }}</div>
                                            {% block help_text %}
                                            <div class="help small">{{ item.help_text }}</div>
                                            {% endblock %}
                                        </div>
                                        <hr>
                                        {% endfor %}
                                    </fieldset>
                                    <div class="text-left">
                                        <button {{ hidden }} type="submit"
                                                class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                                            <span class="text">Confirm</span>
                                        </button>
                                        <button {{ hidden }} type="submit"
                                                class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                                            <span class="text">Confirm and add another</span>
                                        </button>
                                        {% block delete_button %}{% endblock %}
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <a rel="nofollow"
                                           href="{% block obj_list_url %}{% endblock %}">Back to list &rarr;</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}